body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.tabs:hover {
  background-color: #ACE1C2;
  
}

.imgProductos {
  height: 200px;
  width: 200px,
}

.alertShow {
  animation-duration: 10s;
  animation-name: slidein;

}

@keyframes slidein {
  0% {
    opacity: 0;
    z-index:1;
}
100% {
    opacity: 1;
    z-index: -5;
}
}
